@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
}
html,body{
    width: 100vw;
    height: 100vh;
    background-color: lightgray;
}
main{
    position: relative; /*Sempre a primeira coisa que se faz e definir se necessario o posicionamento*/
    height: 100vh;
}
section#telefone{
    /*Precisamos ter rakative no conteiner de fora eabsolute nesse dentro para que possamos manipular o top e left sem problemas*/
    position: absolute; /*Margin auto nao funciona em absolute*/
    height: 500px;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(37, 37, 123);
    background: url('../imagens/frame-iphone.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
iframe#tela{
    position: relative;
    width: 210px;
    height: 370px;
    top: 67px;
    left: 145px;
}
section#botoes img{
    width: 50px; /*So isso diminui tvm a altura*/
    margin: 10px;
    border-radius: 50%;
    box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.445);
    box-sizing: border-box; /*Integra a borda a uma caixa so*/
}
section#botoes img:hover{
    border: 2px solid rgba(255, 255, 255, 0.463); 
    transform: translate(-4px, -4px);
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.445);
    transition-duration: 0.3s; /*Duraçao ate fazer a transiçao*/
    /*As animaçoes emcss aparentemente sao automaticas so necessitando alterar a velocidade para ficarem viziveis*/
}
section#botoes{
    text-align: right;
}
