@charset "UTF-8";
/*Configuraçoes gerais*/ 
        @media all{
            *{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(135, 106, 106);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left bottom;
}
h1{
    color: white;
    text-shadow: 2px 2px 0px black;
    padding: 14px;
} 
        }
        /*Declaraçao retrato*/
        @media screen and (orientation: portrait){
        body{
        background-image: url('../imagens/cev-portrait.jpg');
            }
        }
        @media screen and (orientation: landscape){
        body{
        background-image: url('../imagens/cev-landscape.jpg');
            }
        }
 /*A melhor maneira de selecionar o media type e media fiure orientation por html*/